@page "/"
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>Login</PageTitle>

<h1 class="page-title">Linamar Manufacturing Operating System</h1>

<div class="login-container">
    <div class="login-box">
        <label for="username" class="login-label">Username:</label>
        <input type="text" id="username" class="login-input" />

        <label for="password" class="login-label">Password:</label>
        <input type="password" id="password" class="login-input" />

        <button class="login-button">Login</button>
    </div>
</div>

@code {
    
}